/* custom.css */
body {
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.text-body, .front-matter, .back-matter {
  background-color: black;
  color: white;
}

code, pre {
  color: #f8f8f2;
  background-color: #272822;
}

a {
  color: #629755; 
}


